* {
  box-sizing: border-box;
}

.weapper {
  margin: 0;
  padding: 0;
}

.faq-section {
  padding: 80px 0;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}


.faq-section__inner h2 {
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;
}

.faq-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  display: flex;
}


.faq-number {
  width: 70px;
  min-height: 70px;
  display: grid;
  place-content: center;
  padding: 8px 24px;
  background-color: #FFDD2D;
  color: #fff;
}

.faq-text {
  width: 100%;
  font-size: 38px;
  line-height: 154%;
}


.faq-content {
  padding: 25px 30px;
  border: 1px solid #E4E4E4;
  border-left: 0px;
  position: relative;
}

.faq-content h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.faq-answer {
  display: none;
  font-size: 38px;
  line-height: 154%;
  transform: rotate(-90deg);
}

.faq-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
}

.faq-content p.opened {
  max-height: 1000px;
}

.faq-opener {
  position: absolute;
  right: 60px;
  top: 28px;
  height: 2px;
  width: 21px;
  background-color: #636363;
}

.faq-opener::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(90deg);
  height: 2px;
  width: 21px;
  background-color: #636363;
  transition: transform 0.3s;
}

.opened .faq-opener::before {
  transform: translateY(-50%) rotate(0deg);
}

.opened .faq-answer {
  display: block;
}

.opened .faq-text {
  display: none;
}
.opened .faq-content p {
  max-height: 1000px;
}